@model BestPrice.Models.Wishlists

@{
    ViewData["Title"] = "Success";
}

@if (Model.ProductId == "-2")
{
    <h4 style="margin-top:20px">There are too many products on your wishlist! (Limit: 20)</h4>
}
else if (Model.ProductId == "-1")
{
    <h4 style="margin-top:20px"><b>@Model.ProductName</b> is already in your wishlist!</h4>
}
else
{
    <h4 style="margin-top:20px"><b>@Model.ProductName</b> added to your wishlist!</h4>
}

<hr />

<div>
    <a asp-action="Index">View your Wishlist</a> |
    <a href='javascript:history.go(-1)'>Back to products</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
