@model BestPrice.Models.Wishlists
@{
    ViewData["Title"] = "Success";
}

<h4 style="margin-top:20px"><b>@Model.ProductName</b> has been removed from your wishlist!</h4>

<hr />

<div>
    <a asp-action="Index">Back to Wishlist</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
