.carousel .item {
    height: 380px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    height: 380px;
}

.im {
    width: 100%;
}


    .hero h1 {
        font-size: 6em;
        font-weight: bold;
        margin: 0;
        padding: 0;
    }