@model SettingsViewModel
@{
    ViewData["Title"] = "Account Settings";
    ViewData.AddActivePage(ManageNavPages.Settings);
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                @Html.CheckBoxFor(c => c.getNotified)
                <label asp-for="getNotified"></label>
                <span asp-validation-for="getNotified" class="text-danger"></span>
            </div>

            <div class="form-group">
                @Html.CheckBoxFor(c => c.getNotified)
                <label asp-for="saveSearches"></label>
                <span asp-validation-for="saveSearches" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
        <hr />
        <div class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Change Password</a></div>
    </div>
</div>
