<h2>Account Settings</h2>

<p>You can change your account settings, such as receiving notifications or save recent searches.</p>

<br />

<p>Step 1: Once you log in, go to "Manage your Account" page by clicking on your email on the header.</p>
<img src="~/images/details.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 2: Click on the "Settings" tab.</p>
<img src="~/images/settings.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 3: Check or uncheck the checkbox for receiving notification and save searches, then click on "Save" button.</p>
<p>If receiving notifications is unchecked, you won't get any notification from the web application as well as your email.</p>
<p>If save searches is unchecked, TechPG won't save any searched keywords.</p>

<br />
<br />
<br />