<h2>Change Email</h2>

<p>You can change your username/email under "Manage Your Account" page.</p>

<br />

<p>Step 1: Once you log in, go to "Manage your Account" page by clicking on your email on the header.</p>
<img src="~/images/details.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 2: In the details tab, enter new email in the "Change Email" textbox. Then click on "Save" button</p>
<p>A message showing your profile has been updated will appear.</p>
<img src="~/images/profile_updated.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 3: Click on "Send Verification Email" button to send a verfication email to the new email provided.</p>
<p>A message showing verification email has been sent will appear.</p>
<img src="~/images/verified_email_sent.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 4: Log into your new email and confirm the link sent by TechPG.</p>

<br />

<p>User email is confirmed.</p>
<img src="~/images/confirmed_email.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 5: Log into your new email</p>
<img src="~/images/login.png" style="height:400px" />

<br />
<br />
<br />

