<h2>Contact Developer</h2>

<p>You can contact our developers by completing a contact form.</p>

<br />

<p>On any pages, click on "Contact Us" button on the footer.</p>

<br />

<p>The contact us page will appear with a form to enter the contact information.</p>
<img src="~/images/contact.png" style="height:400px" />

<br />
<br />
<br />

<p>Click on "Submit" button and the form will be sent to us. We'll contact you back as soon as we can.</p>

<br />

<p>Or you can choose to contact one of our developers directly.</p>

<br />

<p>Step 1: Click on "See Emails" button on the right side of contact us page.</p>
<p>A list of developers' emails will appear.</p>
<img src="~/images/contact_email.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 2: You can click on any email, and your mail application will be opened, allowing you to enter contact information with the "Send To:" section already filled.</p>