<h2>Create Account</h2>

<p>To use some of TechPG features like wishlist and notifications, you need to register for an account. Here are the steps to create an account on TechPG:</p>

<br />

<p>Step 1: Click on "Register" button on the header.</p>
<img src="~/images/unregistered.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 2: Provide your email and password to create a new account</p>
<img src="~/images/create_account.png" style="height:400px" />

<br />
<br />
<br />

<p>A confirmation email is sent to the user email</p>
<img src="~/images/confirmation_email_sent.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 3: Log into your email and confirm the link sent by TechPG.</p>

<br />

<p>User email is confirmed.</p>
<img src="~/images/confirmed_email.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 4: Log into your new account</p>
<img src="~/images/login.png" style="height:400px" />

<br />
<br />
<br />
