<h2>Create Account</h2>

<p>You can create your account with your email as username. You need to verify your email so check verification email. If you cannot see it in your inbox, check junk email!</p>