<h2>Notifications</h2>

<p>If you've not found the product or hope price go down, you can use this functionality. Go to settings and turn on "Receive notifications"</p><br/>
<p>On notification page, we provice details of the product you've added to notifications. </p>