<h2>Notifications</h2>

<p>Note: This feature is for registered users only!</p>
<br />
<p>
    If you've got a product in your wishlist, its price will be tracked and notified if any changes happen, in case you're looking for a price drop. But first you must turn on the "Receive notifications" setting in your account management page.
    To see how to do this, please go to "Account Settings" help section.
</p>

<br />
<p>To see notifications, simply click on the "Notifications" button at the header. A drop down list will appear showing recent price changes.</p>
<p>You can also choose to go directly to seller website by clicking on the arrow icon beside the price.</p>
<img src="~/images/notification_widget.png" style="height:400px" />

<br />
<br />
<br />

<p>Or you can choose to see all notifications in notification history, by clicking on "View All" or "View All Notifications" button.</p>
<p>On notification page, we provide details of the product you've added to your wishlist.<p>
<p>Once a product's price changes, you'll be notified through TechPG notifications and your email.</p>
<img src="~/images/notification_page.png" style="height:400px" />

<br />
<br />
<br />