<h2>Notifications</h2>

<p>Note: This feature is for registered users only!</p>
<br />
<p>
    If you've got a product in your wishlist, its price will be tracked and notified if any changes happen, in case you're looking for a price drop. But first you must turn on the "Receive notifications" setting in your account management page.
    To see how to do this, please go to "Account Settings" help section.
</p>
<p>On any pages, click on "Notifications" button at the header to go to notification page.</p>
<img src="~/images/search.png" style="height:400px" />

<br />
<br />
<br />

<p>On notification page, we provide details of the product you've added to your wishlist. Once a product's price changes, you'll be notified through here and your email.</p>
<img src="~/images/notification.png" style="height:400px" />

<br />
<br />
<br />