<h2>Product Search</h2>

<p>We're providing search tool on home. After putting product name, our search tool display the list of product you want to buy. </p><br />

<p>Here you can also see an autocomplete dropdown that helps you complete your search.</p>
<img src="~/images/product_search1.png" style="height:400px" />

<br />
<br />
<br />

<p>After the search is finished, a product list is displayed with product being sorted from lowest to highest price for user convenience.</p>
<img src="~/images/product_search2.png" style="height:400px" />

<br />
<br />
<br />

<p>Also, you can sort and filter the products by name, reviews, price range and seller</p>
<img src="~/images/product_sort.png" style="height:400px" />
<br />
<br />
<img src="~/images/product_filter.png" style="height:400px; margin-top:10px" />

<br />
<br />
<br />

<p>You can click on View Item button on one of the product to go the product's seller website.</p>
<img src="~/images/product_viewitem.png" style="height:400px; margin-top:10px" />

<br />
<br />
<br />
