<h2>Product Search</h2>

<p>We're providing search tool on home. After putting product name, our search tool display the list of product you want to buy. </p><br/>
<p>Also, you can sort the products by name, reviews, price range and seller</p>
