<h2>Report Problem</h2>

<p>You can report any problem you have while using TechPG.</p>

<br />

<p>On any pages, click on "Report Issue" button on the footer.</p>

<br />

<p>The report issue page will appear with a form to enter the problem details.</p>
<img src="~/images/problem.png" style="height:400px" />

<br />
<br />
<br />

<p>Click on "Send" button and the problem will be sent to us. We'll get on fixing the problem as soon as possible.</p>