<h2>Review</h2>

<p>You can create reviews for products. These are TechPG reviews that will be visible to the other users of the web application.</p>

<br />

<p>To see a product's reviews, click on "See Reviews" button on the product list or wishlist.</p>
<img src="~/images/product_search2.png" style="height:400px" />

<br />
<br />
<br />

<p>If there is no review for a product, this page will be displayed:</p>
<img src="~/images/review_empty.png" style="height:400px" />

<br />
<br />
<br />

<p>To create a review for a product, either click on "Create a Review" button on the product list or wishlist, or click on "Write a Review" on the review list page.</p>
<img src="~/images/create_review.png" style="height:400px" />

<br />
<br />
<br />

<p>After creating a review, you'll be redirected to the review list page, where you can see all the review of a particular product.</p>
<img src="~/images/review_index.png" style="height:400px" />

<br />
<br />
<br />

<p>If you want to go back to the search list or wishlist, click on "Back to Search" or "Back to Wishlist" respectively in the review list page.</p>
