<h2>Save Searches</h2>

<p>You can save recent searches.</p>

<br />

<p>By default this feature is enable, but if you don't want to you can refer to "Account Settings" help page to turn it off.</p>

<br />

<p>Enter any search keyword on the search bar either in home page or product list page.</p>

<img src="~/images/product_search1.png" style="height:400px" />
<br />
<br />

<img src="~/images/product_search2.png" style="height:400px; margin-top:10px" />

<br />
<br />
<br />

<p>Go to "Manage your Account" page by clicking on your email on the header.</p>
<img src="~/images/details.png" style="height:400px" />

<br />
<br />
<br />

<p>Click on the "Search History" tab.</p>
<p>Your recent search keywords will appear here, and you'll have the option to either delete all of them or delete individual searches.</p>
<img src="~/images/savesearches.png" style="height:400px" />

<br />
<br />
<br />

