<h2>Save Location</h2>

<p>You can choose to save your location, so that you'll be able to see electronics store near you.</p>

<br />

<p>By default without providing any location, Seneca at York location will be used.</p>

<br />

<p>To provide your location, log into your account, and follow these steps:</p>

<br />

<p>Step 1: Go to "Manage your Account" page by clicking on your email on the header.</p>
<img src="~/images/details.png" style="height:400px" />

<br />
<br />
<br />

<p>Step 2: In the details tab, enter location in the "Address" textbox. Then click on "Save" button</p>
<p>A message showing your profile has been updated will appear.</p>
<img src="~/images/address.png" style="height:400px" />

<br />
<br />
<br />

<p>Tech PG will then uses this address to show a map with nearby stores to this location.</p>

<br />

<p>In the product list, click on "View Map" button to see the map.</p>
<img src="~/images/product_map.png" style="height:400px" />
