<h2>Wishlist</h2>

<p>Note: This feature is for registered users only!</p>
<br />

<p>If you find any product that interests you, just add them to your wishlist so you can view them later, and their price changes will be notified to you.</p>

<br />
<p>On the product list page, click on "Add to Wishlist" to add a product to your wishlist.</p>
<img src="~/images/product_search1.png" style="height:400px" />

<br />
<br />
<br />

<p>To go to the wishlist page, simple click on the "Wishlist" button on the header.</p>
<img src="~/images/search.png" style="height:400px" />

<br />
<br />
<br />

<p>On the wishlist page, you'll see the product that you've wishlisted. You can also choose to remove the product from the wishlist by clicking on the "Remove from Wishlist" button.</p>
<img src="~/images/wishlist.png" style="height:400px" />

<br />
<br />
<br />