@model object

@{
    ViewBag.Title = "About Us";
    Layout = "_Layout";
}

<h1>About TechPG</h1>

<p style="line-height:2">
    Welcome to TechPG, your number one source for all electronic products. We're dedicated to providing you the very best of electronic products, with an emphasis on searching every online stores, giving you notification to connect the product you want.
    Founded in 2019 by Brandon Rychlowski, Jatin Kumar, Thanh Nguyen and Kwangsoo Jin, TechPG has come a long way from its beginnings in Toronto. When our team first started out, our passion for electronic products drove us to start searching online store so that TechPG can offer you competitive searching tool.
</p>
<br />
<p >
    We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
</p>
<br />
<br />

Sincerely,<br/>

<b>TechPG Team</b>

    