@model object

@{
    ViewBag.Title = "Contact Succeeded";
    Layout = "_Layout";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h3 class="text-center text-success">Thank you for contacting us, your message has been received!</h3>

<br />
<br />

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
</div>